* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Manrope', sans-serif;
    --theme-red: rgb(109, 3, 3);
    --bg-color: rgb(243, 240, 240);
}

.fa-fire-extinguisher {
    padding: 0px !important;
}

.title {
    font-size: 4rem;
}

.title-black {
    font-size: 2.5rem;
    color: rgb(31, 31, 31);
}

.subtitle {
    font-size: 2rem;
}

.para {
    font-size: 1.4rem;
}

.para-2 {
    font-size: 1.1rem;
}


.span-color {
    color: var(--theme-red);
}

.customized-button {
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.7rem 1.6rem;
    background-color: rgb(169, 4, 4);
}

.customized-button:hover {
    background: none;
    transition: all 0.3s;
}


/* -------------------------------Top Bar-------------------------------- */

.topbar {
    background-color: rgb(220, 219, 219);
}

.topbar-icon {
    color: rgb(27, 0, 90);
}

.topbar-icon:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    color: rgb(22, 40, 162);
}

/* -------------------------------Navbar--------------------------------- */

.navbar {
    background-color: rgb(32, 32, 32);
}

.navbar-logo {
    width: 5rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: white;
    background-color: var(--theme-red);
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none !important;
}

/* -----------------------------Section-1-------------------------------- */

.bg-1 {
    background-image: url('../images/background-img/bg-1.jpeg');
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-2 {
    background-image: url('../images/background-img/bg-2.jpg');
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec-1-carousel-text {
    padding: 7rem;
}


/* ----------------------------------Section-2---------------------------- */

.section-2 .container {
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translate(50%, 60%);
    z-index: 999 !important;
    background-color: white;
}

.sec-2-main-row {
    border: 1px solid rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sec-2-card {
    padding: 2rem;
}

.sec-2-flaticons {
    width: 5rem;
}

/* ----------------------------------Section-3----------------------------- */

.section-3 {
    background-color: var(--bg-color);
}

.section-3 {
    margin-top: 150px;
}

.sec-3-img {
    box-shadow: rgba(1, 5, 9, 0.4) 0px 0px 0px 1px,
        rgba(1, 5, 9, 0.4) 0px 4px 6px -1px,
        rgba(1, 5, 9, 0.4) 0px 1px 0px inset;
}

/* ---------------------------------Section-4----------------------------- */

.sec-4-card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sec-4-card-img img {
    width: 50rem;
}

/* ---------------------------------Section-5----------------------------- */

.section-5 {
    background-color: var(--theme-red);
}

.sec-5-flaticons {
    width: 5.5rem;
}

.sec-5-btn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem 2.2rem;
    background-color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec-5-btn:hover {
    border: 1px solid rgb(255, 255, 255);
    background: black;
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}

/* ---------------------------------Section-6----------------------------- */

.section-6 {
    background-color: var(--bg-color);
}


.sec-6-card {
    position: relative;
    width: 100%;
}

.sec-6-card-img {
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.8;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.sec-6-card:hover .overlay {
    width: 100%;
}

.text {
    color: white;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.text-2 {
    color: white;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* ----------------------------------Section-7----------------------------- */

.sec-7-card {
    position: relative;
    width: 100%;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sec-7-card-img img {
    width: 37rem;
}

/* ----------------------------------Section-8----------------------------- */

.section-8 {
    background-image: url('../images/section-8/bg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.testimony-img {
    width: 4rem !important;
    border-radius: 50%;
}


/* ----------------------------------Section-9----------------------------- */

.section-9 {
    background-color: var(--bg-color);
}

.sec-9-img {
    width: 12rem !important;
    background-color: white;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
}

.sec-9-img:hover {
    filter: grayscale(100%);
}

/* ----------------------------------Section-10----------------------------- */

.footer {
    background-color: rgb(34, 34, 34);
}

.footer-flaticons {
    width: 4rem;
    background-color: rgb(124, 0, 0) !important;
    border-radius: 50%;
    padding: 0.4rem;
}

.footer-logo {
    width: 7rem;
}

.footer-font {
    color: rgb(153, 153, 153);
}

.footer-icon {
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.footer-icon:hover {
    color: rgb(22, 40, 162);
    background-color: white;
    transform: scale(1.05);
    transition: all 0.4s;
}

.ft-link:hover {
    color: white;
}

.newsletter {
    padding: 1rem 6rem 1rem 1.5rem;
    border: none;
    outline: none;
}

.newsletter-btn {
    background-color: rgb(74, 5, 5);
    border-radius: 50%;
    position: absolute;
    left: 80%;
    bottom: 45%;
    transform: translate(30%, -25%);
    color: gray;
}

.newsletter-btn:hover {
    background-color: rgb(158, 13, 13);
    border-radius: 50%;
    color: white;
}

.customized-border {
    border-bottom: 1px solid white;
    width: 20rem;
}


/* **************************************************************************/
/* **************************************************************************/

/* ----------------------------------Contact-form--------------------------------- */

.contact-section-1 {
    background-image: url('../images/background-img/bg-2.jpg');
    height: 50vh;
}

.box {
    position: absolute;
    top: 30% !important;
    left: 50%;
    transform: translate(-50%, 0%);
}

.form-input {
    padding: 0.9rem 2.5rem;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 6px;
}

.form-input:focus {
    outline: none;
}

.form-textarea {
    width: 100%;
    height: 150px;
    padding: 1rem 2.8rem;
    box-sizing: border-box;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
}

.form-textarea:focus {
    outline: none;
}

.customized-button-3 {
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.8rem 1.9rem;
    background-color: rgb(169, 4, 4);
}

.customized-button-3:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
    transition: all 0.3s;
}





/* **************************************************************************/
/* **************************************************************************/

/* ----------------------------------About Us--------------------------------- */

/* ----------------------------------About us section-1---------------------------- */

.about-section-1 {
    background-image: url('../images/About-us/section-1/bg.jpg');
    height: 50vh;
}


/* ----------------------------------About us section-2---------------------------- */

.about-section-2-img img {
    width: 30rem;
}



/* ----------------------------------About us section-3---------------------------- */

.about-section-3 {
    background-color: var(--theme-red);
}

.about-section-3-flaticons {
    width: 5.5rem;
}

.about-section-3-btn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem 2.2rem;
    background-color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-section-3-btn:hover {
    border: 1px solid rgb(255, 255, 255);
    background: black;
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}


/* **************************************************************************/
/* **************************************************************************/

/* ----------------------------------Services-------------------------------- */

/* ------------------------------Services section-1---------------------------- */

.services-section-1 {
    background-image: url('../images/services/section-1/bg.jpg');
    height: 50vh;
}

/* ------------------------------Services section-2---------------------------- */

.services-section-2-card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.services-section-2-card-img img {
    width: 50rem;
}

/* ------------------------------Services section-3---------------------------- */

.services-section-3 {
    background-color: var(--theme-red);
}

.services-section-3-flaticons {
    width: 5.5rem;
}

.services-section-3-btn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem 2.2rem;
    background-color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-section-3-btn:hover {
    border: 1px solid rgb(255, 255, 255);
    background: black;
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}



/* ------------------------------Services section-4---------------------------- */




/* ------------------------------Services section-5---------------------------- */

.services-section-5 {
    background-color: var(--bg-color);
}

.services-section-5-img {
    width: 12rem !important;
    background-color: white;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
}

.services-section-5-img:hover {
    filter: grayscale(100%);
}


/* **************************************************************************/
/* **************************************************************************/

/* ----------------------------------Blog-------------------------------- */

/* ------------------------------Blog section-1---------------------------- */

.blog-section-1 {
    background-image: url('../images/blog/section-1/bg.jpg');
    height: 50vh;
}

/* ------------------------------Blog section-2---------------------------- */

.blog-img {
    overflow: hidden;
}

.blog-img a img:hover {
    transform: scale(1.1);
    transition: all 0.9s ease-out;
}

.blog-text a,
.recent-blog-text a,
.blog-categories {
    color: rgb(11, 100, 173);
}

.blog-text a:hover,
.recent-blog-text a:hover,
.blog-categories:hover {
    color: var(--theme-red);
    transition: all 0.5s;
}

.recent-blog-img img {
    width: 5.5rem;
}

.blog-right-top {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
}

.blog-tag{
    border: 1.5px solid rgb(0, 0, 25);
    border-radius: 3px;
    width: max-content;
    cursor: pointer;
    background-color: white;
    color: rgb(35, 35, 35);
}

.blog-tag:hover {
    background-color: rgb(1, 4, 26);
    color: white;
    transition: all 0.4s;
}

/* **************************************************************************/
/* **************************************************************************/

/* ----------------------------------Product-------------------------------- */

/* ------------------------------Product section-1---------------------------- */

.product-section-1 {
    background-image: url('../images/products/section-1/bg.jpg');
    height: 50vh;
}

/* ------------------------------Product section-2---------------------------- */

.product-section-2-products {
    background-color: rgb(232, 232, 232);
    margin: 0px;
}
